.wrapper {
  position: absolute;
  left: 0;
  width: 600px;
  height: calc(100vh - 88px);
}

.scrollable {
  overflow-y: scroll;
  height: calc(100vh - 290px);
}

.scrollable::-webkit-scrollbar {
  width: .5em;
}
.scrollable::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.scrollable::-webkit-scrollbar-track {
  background-color: #2F2F37;
}

.figure {
  margin: 0;
}

.ingredientContainer {
  display: inline-flex;
  flex-wrap: wrap;
}
