.wrapper {
  margin: auto;
  margin-top: 150px;
  width: 640px;
  display: flex;
  flex-direction: column;
}

.id {
  margin: auto;
  margin-bottom: 40px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: flex;
  gap: 6px;
  align-items: center;
}
