.navTitle {
  display: inline-block;
  position: relative;
  bottom: 6px;
  text-decoration: none;
}

.inactive {
  color: #8585ad;
}

.inactive:hover > svg {
  fill: #f2f2f3;
}

.inactive:hover > span {
  color: #f2f2f3;
}

.active {
  color: #f2f2f3;
}

